#category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='首页')
            a(href="/") 首页
        .category-bar-item(id='优质教程')
            a(href="/categories/优质教程/") 优质教程
        .category-bar-item(id='魔改教程')
            a(href="/categories/魔改教程/") 魔改教程
        .category-bar-item(id='学习笔记')
            a(href="/categories/学习笔记/") 学习笔记
        .category-bar-item(id='胡思乱想')
            a(href="/categories/胡思乱想/") 胡思乱想
        .category-bar-item(id='生活杂谈')
            a(href="/categories/生活杂谈/") 生活杂谈
        .category-bar-item(id='代码开发')
            a(href="/categories/代码开发/") 代码开发
        .category-bar-item(id='游戏分享')
            a(href="/tags/游戏/") 游戏分享 
        .category-bar-item(id='更新日志')
            a(href="/notice/") 更新日志
    a.category-bar-more(href="/categories/") 更多