#footer_deal
  a.deal_link(href="mailto:2638526782@qq.com" title="邮件")
    i.iconfont.icon-youjian
  a.deal_link(href="http://wpa.qq.com/msgrd?v=3&uin=2638526782&site=qq&menu=yes" title="qq" target="_blank")
    i.iconfont.icon-QQ1
  a.deal_link(href="weixin://contacts/profile/happyking_top" title="微信" target="_blank")
    i.iconfont.icon-weixin1
  a.deal_link(href="https://github.com/lispringing" title="github"  target="_blank")
    i.iconfont.icon-github
  img.footer_mini_logo.entered.loading(style="border-radius:50%" src='https://blog.springing.top/img/avatar.webp' onclick="btf.scrollToDest(0,500)" title="返回顶部")
  a.deal_link(href="/notice/" title="更新日志")
    i.iconfont.icon-shebeidongtai
  a.deal_link(href="https://music.163.com/#/user/home?id=2052321878" title="音乐" target="_blank")
    i.iconfont.icon-yinle
  a.deal_link(href="/comments/" title="留言板" target="_blank")
    i.iconfont.icon-liuyanban-05
  a.deal_link(href="/about/" title="关于我" target="_blank")
    i.iconfont.icon-guanyu
#Jay-footer
  .footer-group
    h3.footer-title 项目
    .footer-links
      a.footer-item(href="https://www.springing.top" target="_blank") 春子主页
      a.footer-item(href="https://nav.springing.top") 春子导航
      a.footer-item(href="https://cyyz.springing.top") 南街回忆
      a.footer-item(href="#") 敬请期待
  .footer-group
    h3.footer-title 后端
    .footer-links
      a.footer-item(href="https://netease.happyking.top") 网易云音乐api
      a.footer-item(href="https://7bu.top/") 图片分发
      a.footer-item(href="https://twikoo.happyking.top") 评论系统
      a.footer-item(href="https://status.springing.top") 状态监控
  .footer-group
    h3.footer-title 分类
    .footer-links
      a.footer-item(href="/categories/优质教程/") 优质教程
      a.footer-item(href="/categories/魔改教程/") 魔改教程
      a.footer-item(href="/categories/学习笔记/") 学习笔记
      a.footer-item(href="/categories/代码开发/") 代码开发
  .footer-group
    h3.footer-title 标签
    .footer-links
      a.footer-item(href="/tags/编程/") 编程教学
      a.footer-item(href="/tags/流水账/") 日常水文
      a.footer-item(href="/tags/随想/") 胡思乱想
      a.footer-item(href="/tags/分享/") 博主分享
  .footer-group
    h3.footer-title 友链
    .footer-links
      a.footer-item(href="https://blog.zhheo.com/") 张洪Heo
      a.footer-item(href="https://mm.com/") 林木木
      a.footer-item(href="#") 敬请期待
      a.footer-item(href="#") 敬请期待

    .footer-links#friend-links-in-footer
  .footer-group
    h3.footer-title 基于
    .footer-links
      a.footer-item(href="#") Hexo 5.0
      a.footer-item(href="#") 鲸鱼 1.0
      a.footer-item(href="#") Debian 12
      a.footer-item(href="#") Butterfly 4.0
#footer-banner
  .footer-banner-links
    .footer-banner-left
      .footer-banner-left
        #footer-banner-tips
        script(src='/js/main/footer/typed.min.js')
        script.
          var typed = new Typed("#footer-banner-tips", {
            strings: ["聚散無常，别来无恙.", "Gathering and dispersing are impermanent. I'll be all right."],
            startDelay: 200,
            backDelay: 2000,
            typeSpeed: 100,
            loop: true,
            backSpeed: 20
          })

    .footer-banner-right
      a.footer-banner-link(href="https://blog.springing.top/about/" title="春子老师哦") ©小春子 2020-至今
      a.footer-banner-link |
      a.footer-banner-link(href="https://beian.miit.gov.cn" title="ICP备案") 鲁ICP备2022030058号
      a.footer-banner-link |
      a.footer-banner-link(href="https://icp.gov.moe/?keyword=20230666" title="萌备") 萌ICP备20230666号
      a.footer-banner-link |
      a.footer-banner-link(href="https://hexo.io/zh-cn/index.html" title="本网站基于HEXO框架开发") 框架Hexo

