#footer_deal
  a.deal_link(href="mailto:2638526782@qq.com" title="邮件")
    i.iconfont.icon-youjian
  a.deal_link(href="http://wpa.qq.com/msgrd?v=3&uin=2638526782&site=qq&menu=yes" title="qq" target="_blank")
    i.iconfont.icon-QQ1
  a.deal_link(href="weixin://contacts/profile/w2638526782" title="微信" target="_blank")
    i.iconfont.icon-weixin1
  a.deal_link(href="https://github.com/XINGMOUREN" title="github"  target="_blank")
    i.iconfont.icon-github
  img.footer_mini_logo.entered.loading(style="border-radius:50%" src='https://blog.springing.top/img/avatar.webp' onclick="btf.scrollToDest(0,500)" title="返回顶部")
  a.deal_link(href="/bb/" title="胡思乱想")
    i.iconfont.icon-shebeidongtai
  a.deal_link(href="https://music.happyking.top" title="音乐" target="_blank")
    i.iconfont.icon-yinle
  a.deal_link(href="/comments/" title="留言板" target="_blank")
    i.iconfont.icon-liuyanban-05
  a.deal_link(href="/about/" title="关于我" target="_blank")
    i.iconfont.icon-guanyu
#Jay-footer
  .footer-group
    h3.footer-title 直达
    .footer-links
      a.footer-item(href="https://www.happyking.top" target="_blank") 我的主页
      a.footer-item(href="https://music.happyking.top") 在线音乐
      a.footer-item(href="https://readme.happyking.top") 火花官网
      a.footer-item(href="https://calendar.happyking.top") 开源端口
  .footer-group
    h3.footer-title 后端
    .footer-links
      a.footer-item(href="https://calendar.happyking.top") 日历获取
      a.footer-item(href="https://7bu.top/") 图片分发
      a.footer-item(href="https://twikoo.happyking.top") 评论系统
      a.footer-item(href="https://status.happyking.top") 状态监控
  .footer-group
    h3.footer-title 分类
    .footer-links
      a.footer-item(href="/categories/优质教程/") 优质教程
      a.footer-item(href="/categories/魔改教程/") 魔改教程
      a.footer-item(href="/categories/学习笔记/") 学习笔记
      a.footer-item(href="/categories/代码开发/") 代码开发
  .footer-group
    h3.footer-title 标签
    .footer-links
      a.footer-item(href="/tags/编程/") 编程教学
      a.footer-item(href="/tags/流水账/") 日常水文
      a.footer-item(href="/tags/随想/") 胡思乱想
      a.footer-item(href="/tags/游戏/") 游戏评测
  .footer-group
    h3.footer-title 友链
    .footer-links
      a.footer-item(href="https://blog.zhheo.com/") 张洪Heo
      a.footer-item(href="https://mm.com/") 林木木
      a.footer-item(href="https://blog.dorakika.cn/") Dorakika
      a.footer-item(href="https://noionion.top/") 二猹

    .footer-links#friend-links-in-footer
  .footer-group
    h3.footer-title 其他
    .footer-links
      img.footer_item(src='/img/cdn.svg' title="本站由腾讯云提供cdn加速服务" width="100px" hight="100px")
#footer-banner
  .footer-banner-links
    .footer-banner-left
      .footer-banner-left
        #footer-banner-tips
        script(src='/js/main/footer/typed.min.js')
        script.
          var typed = new Typed("#footer-banner-tips", {
            strings: ["聚散無常，别来无恙.", "Gathering and dispersing are impermanent. I'll be all right."],
            startDelay: 200,
            backDelay: 2000,
            typeSpeed: 100,
            loop: true,
            backSpeed: 20
          })

    .footer-banner-right
      a.footer-banner-link(href="https://blog.happyking.top/about" title="欢乐小王哦") ©欢乐小王 2020-至今
      a.footer-banner-link |
      a.footer-banner-link(href="https://beian.miit.gov.cn" title="ICP备案") 鲁ICP备2022030058号-1
      a.footer-banner-link |
      a.footer-banner-link(href="https://icp.gov.moe/?keyword=20230666" title="萌备") 萌ICP备20230666号
      a.footer-banner-link |
      a.footer-banner-link(href="https://hexo.io/zh-cn/index.html" title="本网站基于HEXO框架开发的") 框架HEXO
      a.footer-banner-link |
      img.footer-banner-link(src="https://api.netlify.com/api/v1/badges/a8294c13-1217-47db-a58f-3e720a31a028/deploy-status" title="站点状态")

