#sticky
  #stickyList.swiper-container
    #stickyWrapper.swiper-wrapper
      .swiper-slide(onclick=`toRandomPost()`)
        .grid-img
          iframe#banner-page(src="/people/" frameborder="0" loading="eager") 
        .grid-title
          span 随便逛逛
          i.fas.fa-arrow-right


  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
  script(data-pjax src='/js/sticky.js')
link(rel='stylesheet' href='/css/sticky.css')