#sticky
  #stickyList.swiper-container
    #stickyWrapper.swiper-wrapper
      .swiper-slide(onclick=`toRandomPost()`)
        .grid-img
          iframe#banner-page(src="/people/" frameborder="0" loading="eager") 
        .grid-title
          span 随便逛逛
          i.fas.fa-arrow-right
      .swiper-slide(onclick=`pjax.loadUrl('/video/','_self')`)
        .grid-img
          img.cover.entered.loaded(alt='VLOG' src='https://bu.dusays.com/2023/07/15/64b29ff864304.webp')
        .grid-title
          span 看看VLOG
          i.fas.fa-arrow-right
      .swiper-slide(onclick=`pjax.loadUrl('/video/','_self')`)
        .grid-img
          img.cover.entered.loaded(alt='小王音乐' src='https://bu.dusays.com/2023/07/15/64b29fe82d75c.webp')
        .grid-title
          span 听听音乐
          i.fas.fa-arrow-right
    //- 分页器
    .swiper-pagination


  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
  script(data-pjax src='/js/sticky.js')
link(rel='stylesheet' href='/css/sticky.css')